[package]
name = "ffmpeg-stream-audio"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["default", "derive"] }
thiserror = "2"
tokio = { version = "1", features = ["rt", "process", "macros", "signal"] }
toml = { version = "0.9", features = ["parse"] }
typetag = "0.2"
tracing = "0.1"
tracing-subscriber = "0.3"


[profile.release]
lto = true
codegen-units = 1
